/* variables */
:root{
    --primary-color: #000000;
    --surface-color: #f5f9fc;
    --secondary-color: #434ef0;
    --03: rgba(0, 0, 0, 0.03)
    --07: rgba(0, 0, 0, 0.07);
    --09: rgba(0, 0, 0, 0.09);
    --12: rgba(0, 0, 0, 0.12);
    --15: rgba(0, 0, 0, 0.15);
}

/* dark mode */
.dark-mode {
    --primary-color: #ffffff;
    --surface-color: #121212;
    --secondary-color: #434ef0;
    --03: rgba(255, 255, 255, 0.03)
    --07: rgba(255, 255, 255, 0.07);
    --09: rgba(255, 255, 255, 0.09);
    --12: rgba(255, 255, 255, 0.12);
    --15: rgba(255, 255, 255, 0.15);
}




/* ############################################
###############################################
############################################ */
/* base styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    background-color: var(--surface-color);
/
}

header {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer */
footer {
    margin-top: 4em;
    justify-content: center;
    text-align: center;
}

a {
    visibility: visible;
    text-decoration: underline;
    width: 50%;
}

footer a{
    cursor: pointer;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.profile-header h1 {
    text-align: auto;
    display: inline;
}

p, a {
    font-weight: 600;
    color: var(--primary-color);
}

.fullwidth {
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: var(--09);   
    line-height: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .8em;
    padding-bottom: 1.6em;
    margin-top: 1em;
}

.season-notes ul li {
    text-align: left;
    justify-items: left;
}


/* ############################################
###############################################
############################################ */
/* buttons */
button, .nav-home-button{
    border: none;
    height: 3em;
    background: var(--surface-color);
    color: var(--primary-color);
    font-weight: 600;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.5em;
}

.athletic-link-button {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.athletic-link-button:hover {
    background-color: var(--primary-color);
    color: var(--surface-color);
}

/* .dark-mode .athletic-link-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
} */

button:hover, .nav-home-button:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--surface-color);
}

/* smooth transition */
button, .nav-home-button, .backToTop {
    transition: surface-color 0.5s ease;
}

/* ############################################
###############################################
############################################ */
/* tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

th, td, li {
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    color: var(--primary-color);
}


tr:nth-of-type(odd) {
    background-color: var(--09);
}
tr:nth-child(1) {
    background-color: var(--15);
}


/* add dividers */
tr:not(last-of-type) {
    border-bottom: 1px solid var(--15);
}

h2 {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid var(--15);
    border-radius: 0.5em 0.5em 0 0;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    color: white;
}

.data .races-year, .season-records, .season-notes, .season-box {
    border: 1px solid var(--15);
    background-color: var(--07);
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.season-box {
    margin-bottom: 2em;
}




/* ############################################
###############################################
############################################ */
/* search form */
.search-form {
    position: relative;
}

.search-form input {
    background-color: var(--surface-color);
    width: 46.5vw;
    padding: 10px;
    padding-right: 2em;
    border: 1px solid var(--07);
    border-radius: 0.5em;
    outline: none;
    font-size: 1em;
}

.search-form button {
    position: absolute;
    right: 7.5%;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.2em;
    padding: 0;
    outline: none;
}

.search-form button:hover {
    background: none;
}




/* ############################################
###############################################
############################################ */
/* Main content area */
main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}




/* ############################################
###############################################
############################################ */
/* profile info */
.profile-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border-bottom: 1px solid var(--07);
}

.profile-picture {
    width: 150px;
    height: 150px;
    background-color: var(--09);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details h2 {
    margin: 0;
    font-size: 1.8em;
    color: #1e445d;
    font-weight: 600;
}

.profile-details p {
    margin-top: 5px;
    font-size: 1.2em;
    color: var(--primary-color);
}

.profile-details {
    margin-bottom: 1em;
}




/* ############################################
###############################################
############################################ */



/* ############################################
###############################################
############################################ */
/* grid setup */
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
header .search-form {
    grid-area: 1/2/2/4;
}
header .dark-mode-toggle {
    grid-area: 2/3/2/span 2
}
header .nav-home-button {
    grid-area: 2/1/2/3
}


main {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-row-gap: 3em;
    padding: 20px
}
main .profile-header {
    grid-area: 1 / 1 / 2 / 1;
}
main .races-year {
    grid-area: 2 / 1 / 3 / 1;
    margin-bottom: 2em;
}
main .season-records {
    grid-area: 3 / 1 / 4 / 1;
    margin-bottom: 2em;
}
main .season-notes {
    grid-area: 4 / 1 / 5 / 1;
}


/* ############################################
###############################################
############################################ */



/* OTHER STYLES - old responsive */
/* mobile styles */
/* @media screen and (min-width: 200px) {
    body {
        font-size: 14px;
    }
}

/* small tablet styles */
/* @media screen and (min-width: 620px) {
    body {
        font-size: 16px;
    }
} */


/* large tablet & laptop styles */
/* @media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
} */


/* desktop styles */
/* @media screen and (mind-width: 1200px) {
    body {
        font-size: 20px;
    }
} */