/* variables */
:root{
    --primary-color: #000000;
    --surface-color: #f5f9fc;
    --secondary-color: #434ef0;
    --03: rgba(0, 0, 0, 0.03)
    --07: rgba(0, 0, 0, 0.07);
    --09: rgba(0, 0, 0, 0.09);
    --12: rgba(0, 0, 0, 0.12);
    --15: rgba(0, 0, 0, 0.15);
}

/* dark mode */
.dark-mode {
    --primary-color: #ffffff;
    --surface-color: #121212;
    --secondary-color: #434ef0;
    --03: rgba(255, 255, 255, 0.03)
    --07: rgba(255, 255, 255, 0.07);
    --09: rgba(255, 255, 255, 0.09);
    --12: rgba(255, 255, 255, 0.12);
    --15: rgba(255, 255, 255, 0.15);
}

/* high contrast mode */
.high-contrast-mode {
    --primary-color: #ffffff;
    --surface-color: #121212;
    --secondary-color: #00eaff;
    --03: rgba(255, 255, 255, 0)
    --07: rgba(255, 255, 255, 0);
    --09: rgba(255, 255, 255, 0);
    --12: rgba(255, 255, 255, 0);
    --15: rgba(255, 255, 255, 0);
}



/* ############################################
###############################################
############################################ */
/* base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--surface-color);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer */
footer {
    margin-top: 4em;
    justify-content: center;
    text-align: center;
}

a {
    visibility: visible;
    text-decoration: underline;
    width: 50%;
}

footer a {
    cursor: pointer;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.index_head_1 {
    margin-bottom: -25em;
}

.profile-header h1 {
    text-align: auto;
    display: inline;
}

p, a {
    font-weight: 600;
    color: var(--primary-color);
}

.fullwidth {
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: var(--09);   
    line-height: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .8em;
    padding-bottom: 1.6em;
    margin-top: 1em;
}

.season-notes ul li {
    text-align: left;
    justify-items: left;
}

*:focus {
    border: 2px solid var(--primary-color)
}




/* ############################################
###############################################
############################################ */
/* high contrast mode */
body.high-contrast-mode > main > section > details, summary, table {
    border: 2px solid white;
}

body.high-contrast-mode > *:not(main) {
    border: 2px solid white;
}

body.high-contrast-mode > main > section > summary {
    background-color: black;
}

body.high-contrast-mode > main > section > details > summary {
    color: black;
}

body.high-contrast-mode > main > section > div > a {
    color: black;
}

/* ############################################
###############################################
############################################ */
/* buttons */
button{
    border: none;
    height: 3em;
    background: var(--surface-color);
    color: var(--primary-color);
    font-weight: 600;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.5em;
}

.nav-home-button{
    border: none;
    background: var(--surface-color);
    color: var(--primary-color);
    font-weight: 600;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    justify-self: start;
}

.color-options-menu{
    border: none;
    background: var(--surface-color);
    color: var(--primary-color);
    font-weight: 600;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    justify-self: end;
}


.athletic-link-button {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.athletic-link-button:hover {
    background-color: var(--primary-color);
    color: var(--surface-color);
}

/* .dark-mode .athletic-link-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
} */

/* smooth transition */
button, .nav-home-button, .color-options-menu{
    transition: 0.25s color ease;
    transition: 0.25s background-color ease;
}

button:hover, .nav-home-button:hover, .color-options-menu:hover{
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--surface-color);
}




/* ############################################
###############################################
############################################ */
/* tables */
table {
    border-collapse: collapse;
    overflow: hidden;
}

th, td, li {
    text-align: center;
    color: var(--primary-color);
}


tr:nth-of-type(odd) {
    background-color: var(--09);
}
tr:nth-child(1) {
    background-color: var(--15);
}


/* add dividers */
tr:not(last-of-type) {
    border-bottom: 1px solid var(--15);
}

details a {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
}

details summary {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid var(--15);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    color: white;
    text-align: center;
    
    transition: 0.25s color ease;
    transition: 0.25s background-color ease;
}

details summary:hover {
    color: var(--surface-color);
    background-color: var(--primary-color);
}

details summary {
    list-style: none;
}
  
details summary::-webkit-details-marker {
    display:none;
}

/* transitions */
@keyframes details-show {
    from {
      opacity:0;
      transform: var(--details-translate, translateY(-0.5em));
    }
  }
  
  details[open] > *:not(summary) {
    animation: details-show 150ms ease-in-out;
  }

.data .all-races, .season-records, .season-notes, .season-box {
    border: 1px solid var(--15);
    background-color: var(--07);
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-bottom: 1em;
}

.season-box {
    margin-bottom: 2em;
}



/* ############################################
###############################################
############################################ */
/* header items */
header {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-options-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.dark-mode-toggle, .high-contrast-mode-toggle {
    display: inline-block;
    justify-self: end;
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    margin: 0.5em 0 0.5em 0;
}

.dark-mode-toggle {
    grid-row-start: 1;
}

.high-contrast-mode-toggle {
    grid-row-start: 2;
}

.color-options-menu .fa-bars {
    padding-left: 0.5em;
}

.dark-mode-toggle .fa-moon, .high-contrast-mode-toggle .fa-circle-half-stroke {
    padding-left: 0.5em;
}

.nav-home-button .fa-house {
    padding-right: 0.5em;
}

/* ############################################
###############################################
############################################ */
/* Main content area */
main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}




/* ############################################
###############################################
############################################ */
/* profile info */
.profile-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border-bottom: 1px solid var(--07);
}

.profile-picture {
    background-color: var(--09);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details p {
    color: var(--primary-color);
}

.profile-details {
    margin-bottom: 1em;
}




/* ############################################
###############################################
############################################ */
/* icons and graph */
#mens_first, #womens_first, #mens_second, #womens_second, #mens_third, #womens_third {
    color: var(--primary-color);
}

.progression-graph canvas {
    width: auto;
    max-height: 400px; /* Adjust height as needed */
}



/* ############################################
###############################################
############################################ */
/* grid setup */
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

header .nav-home-button {
    grid-column-start: 1;
    justify-self: center;
}

header .color-options-menu {
    grid-column-start: 3;
    justify-self: center;
}


main {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-row-gap: 3em;
    padding: 20px
}

main .profile-header {
    grid-area: 1 / 1 / 2 / 1;
}
main .all-races {
    grid-area: 2 / 1 / 3 / 1;
    margin-bottom: 2em;
}
main .season-records {
    grid-area: 3 / 1 / 4 / 1;
    margin-bottom: 2em;
}
main .season-notes {
    grid-area: 4 / 1 / 5 / 1;
}


/* ############################################
###############################################
############################################ */
/* reduced motion */
@media (prefers-reduced-motion) {
    details[open] > *:not(summary) {
        animation: details-show 0ms linear;
    }
    
    button, .nav-home-button, .color-options-menu{
        transition: 0s color linear;
        transition: 0s background-color linear;
    }
    
    details summary {
        transition: 0s color linear;
        transition: 0s background-color linear;
    }
}




/* ############################################
###############################################
############################################ */
/* mobile styles */
@media screen and (min-width: 200px) {
    body {
        font-size: 14px;
    }
    
    table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    th, td, li {
        padding: 10px;
        font-size: 0.9em;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
    }

    .profile-details p {
        margin-top: 5px;
        font-size: 1.2em;
    }
}

/* small tablet styles */
/* @media screen and (min-width: 620px) {
    body {
        font-size: 16px;
    }
} */


/* large tablet & laptop styles */
/* @media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
} */


/* desktop styles */
/* @media screen and (mind-width: 1200px) {
    body {
        font-size: 20px;
    }
} */